.recipe-header,
.recipe-header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-picture > img {
    width: 100vw;
    max-height: 300px;
}

.recipe-header__title {
    display: flex;
}


/*----Recipe actions----*/

.recipe-header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-header__actions > *:not(:first-of-type) {
    margin-left: 20px;
}

.recipe-header__actions > .btn-add {
    flex-grow: 1;
}

.recipe-header__actions i {
    font-size: 20px;
}


/*----Recipe info----*/

.info-recipe__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information-recipe,
.tags,
.info-recipe__when {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-recipe {
    margin-top: 40px;
}

.information-recipe {
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    margin: 0 10px;
}

.information-recipe i {
    font-size: 20px;
    margin-bottom: 5px;
    background-color: var(--highlight-color);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.tag,
.info-recipe__when > div {
    margin: 5px;
    padding: 2px 5px;
    font-weight: 700;
    display: inline;
    border-radius: 5px;
}

.tag {
    border: solid var(--highlight-color) 1px;
    color: var(--highlight-color);
}

.info-recipe__when > div {
    background-color: var(--highlight-color);
    color: white;
} 


/*----Recipe add----*/

.number-fieldset {
    display: flex;
    flex-direction: row;
}

.number-input {
    width: 50px;
    margin: 0 10px;
}

.number-input:first-of-type {
    margin-left: 0;
}


/*---------MEDIA >= 480px--------*/

@media (min-width: 480px) {

    .recipe-header {
        position: relative;
    }

    .recipe-header__main {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.5);
    }  

}

/*---------MEDIA >= 768px--------*/

@media (min-width: 1024px) {



}