/*----Recipe actions----*/

.recipe-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-actions > *:not(:first-of-type) {
    margin-left: 20px;
}

.recipe-actions > .btn-add {
    flex-grow: 1;
}

.recipe-actions i {
    font-size: 20px;
}


/*----Recipe info----*/

.info-recipe__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information-recipe,
.tags,
.info-recipe__quand {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info-recipe {
    margin-top: 40px;
}

.information-recipe {
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    margin: 0 10px;
}

.information-recipe i {
    font-size: 20px;
    margin-bottom: 5px;
    background-color: var(--pink-color);
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.tag,
.info-recipe__quand > div {
    margin: 5px;
    padding: 2px 5px;
    font-weight: 700;
    display: inline;
}

.tag {
    border: solid var(--pink-color) 1px;
    color: var(--pink-color);
}

.info-recipe__quand > div {
    background-color: var(--pink-color);
    color: white;
} 


/*----Recipe add----*/

.number-fieldset {
    display: flex;
    flex-direction: row;
}

.number-input {
    width: 50px;
    margin: 0 10px;
}

.number-input:first-of-type {
    margin-left: 0;
}