@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --blue-color: #252934;
    --grey-color: #949494;
    --pink-color: #F69A7A;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    transition: 300ms ease-in-out;
    color: var(--blue-color);
    position: relative;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-family: 'Corinthia', cursive;
    font-weight: 400;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top;
}

figure figcaption {
    display: none;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

em {
    font-weight: 400;
}


/*----------------HEADER & FOOTER----------------*/

header,
.navbar__shortcuts {
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 50;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 3px var(--grey-color);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__shortcuts {
    bottom: 0;
    left: 0;
    padding: 20px;
    justify-content: space-around;
}

.navbar i {
    font-size: 1.2rem;
    display: unset;
}

.navbar span {
    display: none;
}

.navbar i:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

.nav-actif {
    color: var(--pink-color);
}

/*-------------END OF HEADER & FOOTER------------*/
/*---------------------MAIN----------------------*/

main {
    padding: 60px 0;
}

.container {
    margin-bottom: 40px;
}

.pdg-lr {
    padding-right: 20px;
    padding-left: 20px;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}


/*--Menus--*/

.menus__day__lunch,
.menus__day__diner,
.menus__day__lunch article,
.menus__day__lunch article {
    display: flex;
}

.menus__day__lunch,
.menus__day__diner {
    margin-bottom: 20px;
    min-height: 70px;
}

.menus__day__lunch aside,
.menus__day__diner aside {
    width: 30px;
    border-right: solid 3px var(--pink-color);
    margin-right: 5px;
    font-weight: 700;
    color: var(--pink-color);
}

.menus__day__lunch aside p,
.menus__day__diner aside p {
    transform: rotate(90deg) translateX(5px);
}

.menus__day__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menus__day__details__recipe {
    justify-content: space-between;
    align-items: center;
}

.recipe-card {
    display: flex;
    box-shadow: 0 0 10px var(--grey-color);
    margin: 5px;
    padding: 10px 10px 10px 20px;
    color: var(--blue-color);
}

.menus__day__details .recipe-card:first-of-type {
    margin-top: 0px;
}

.btn-see-more {
    display: flex;
    justify-content: right;
}

.btn-see-more a {
    margin-top: 20px;
    background-color: var(--blue-color);
    color: white;
    padding: 5px 10px;
}



/*--Search--*/

.search > form {
    position: relative;
    margin-bottom: 20px;
}

.search > form > input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: solid var(--pink-color) 1px;
    border-radius: 20px;

    &::placeholder {
        font-style: italic;
    }
}

.search > form > button {
    border: none;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
}

/*--Portions--*/

.portions {
    display: flex;
    flex-direction: column;
}

.portions > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portions > div p {
    font-weight: 700;
}

.portions__nb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pink-color);
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.portions__remove,
.portions__add {
    width: 20px;
    font-weight: 700;
    background-color: white;
    border: none;
}

.portions__remove {
    font-size: 1.5rem;
}

.portions__add {
    font-size: 1.5rem;
}

.portions > p {
    font-size: 0.8rem;
    text-align: center;
}



/*------------------END OF MAIN------------------*/
/*---------TABLET AND NOTEBOOK (>= 768px)--------*/

@media (min-width: 768px) {

    html {
        font-size: 16px;
    }

    .pdg-lr {
        padding-left: 60px;
        padding-right: 60px;
    }

}

/*----------END OF NOTEBOOK (>= 768px)----------*/
/*--------------DESKTOP (>= 1024px)-------------*/

@media (min-width: 1024px) {

    h2 {
        font-size: 1.5rem;
    }

    .pdg-lr {
        padding-left: 100px;
        padding-right: 100px;
    }

    .navbar__shortcuts {
        position: unset;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar__shortcuts a {
        margin-left: 20px;
    }

    .navbar i {
        display: none;
    }

    .navbar span {
        display: unset;
    }

}



/*----------END OF DESKTOP (>= 1024px)----------*/
/*-----------LARGE SCREENS (>= 1024px)----------*/

.pdg-lr {
    padding-left: 300px;
    padding-right: 300px;
}


/*-------END OF LARGE SCREENS (>= 1024px)-------*/
