@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

:root {
    --dark-color: #252934;
    --grey-color: #949494;
    --highlight-color: #F0A87B;
    --invalid-color: red;
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    transition: 300ms ease-in-out;
    color: var(--dark-color);
    position: relative;
}

body::-webkit-scrollbar {
    width: 0px;
}

h1 {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-size: 3rem;
}

/*---Titres des pages---*/

h2 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Corinthia", cursive;
    line-height: 3rem;
    padding-top: 1rem;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.active {
    position: relative;
    z-index: 10;
}

.active::before {
    content:"";
    background-color: white;
    height: 35%;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    right: -10px;
    width: calc(100% + 20px);
    animation: highlighting 0.25s 0.2s ease-in-out forwards;
}

.active::after {
    content:"";
    background-color: var(--highlight-color);
    opacity: 0.4;
    height: 35%;
    position: absolute;
    z-index: -10;
    width: calc(100% + 20px);
    bottom: 5px;
    left: -10px;
    border-radius: 97% 3% 85% 15% / 63% 48% 52% 37%;
}

@keyframes highlighting {
    from { width: calc(100% + 20px); }
    to { width: 0; }
}

/*------*/


h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

figure figcaption {
    display: none;
}

.sticker {
    width: 30px;
    height: 30px;
}

.thumbnail {
    width: 50px;
    height: 50px;
}

.thumbnail img {
    border-radius: 97% 3% 85% 15% / 63% 48% 52% 37%;
}

ul {
    list-style-position: inside;
    list-style-type: circle;
}

em {
    font-weight: 400;
}

button {
    cursor: pointer;
}

.btn {
    background-color: var(--dark-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    
}

/*---Formulaires----*/

form,
form > fieldset {
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 10px;
}

form > fieldset input,
form > fieldset select {
    flex-grow: 1;
    font-family: inherit;
}

form > fieldset input,
form > fieldset select,
form > fieldset textarea,
.number-fieldset input {
    padding: 10px;
    border: var(--grey-color) 1px solid;
    border-radius: 5px;
}

.number-fieldset > input {
    width: 80px;
    text-align: center;
}

.number-fieldset > p {
    display: inline;
}

form > fieldset > select {
    background-color: white;
}

form:not(:has(i)) > button {
    margin-top: 40px;
    width: 100%;
}

input:focus,
select:focus,
.btn:focus,
textarea:focus {
    outline: var(--dark-color) 1px solid;
}

/*----------------HEADER & FOOTER----------------*/

header,
.navbar__shortcuts {
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 50;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 3px var(--grey-color);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__shortcuts {
    bottom: 0;
    left: 0;
    padding: 20px;
    justify-content: space-around;
}

.navbar i {
    font-size: 1.2rem;
    display: unset;
}

.navbar span {
    display: none;
}

.navbar i:hover {
    transform: scale(1.2);
    transition: 300ms ease-in-out;
}

.nav-actif {
    color: var(--highlight-color);
}

/*-------------END OF HEADER & FOOTER------------*/
/*---------------------MAIN----------------------*/

main {
    padding-top: 60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdg-lr {
    width: 90%;
    max-width: 800px;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}



/*--Menus--*/

.menus__day__lunch,
.menus__day__diner,
.menus__day__lunch article,
.menus__day__lunch article {
    display: flex;
}

.menus__day__lunch,
.menus__day__diner {
    margin-bottom: 20px;
    min-height: 70px;
}

.menus__day__lunch aside,
.menus__day__diner aside {
    width: 30px;
    border-right: solid 3px var(--highlight-color);
    margin-right: 5px;
    font-weight: 700;
    color: var(--highlight-color);
}

.menus__day__lunch aside p,
.menus__day__diner aside p {
    transform: rotate(90deg) translateX(5px);
}

.menus__day__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menus__day__details__recipe {
    justify-content: space-between;
    align-items: center;
}

.recipe-card {
    display: flex;
    margin: 10px;
    padding: 10px;
    color: var(--dark-color);
    align-items: center;
    border-radius: 5px;
}

.recipe-card:hover {
    animation: darkenBackgroung 0.2s ease-in-out forwards;
}

@keyframes darkenBackgroung {
    to {
        background-color: rgba(128, 128, 128, 0.2);
    }
}

.recipe-card .thumbnail {
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

.recipe-card p {
    max-width: calc(100% - 70px);  
    position: relative;
}

.menus__day__details .recipe-card:first-of-type {
    margin-top: 0px;
}

.btn-see-more {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}


/*--Search--*/

.search > form {
    position: relative;
    margin-bottom: 20px;
}

.search > form > input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: solid var(--highlight-color) 1px;
    border-radius: 5px;
    font-size: 1rem;
}

.search > form > input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1rem;
}

.search > form > button {
    border: none;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.2rem;
}



/*--Portions--*/

.portions {
    display: flex;
    flex-direction: column;
}

.portions > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portions > div p {
    font-weight: 700;
}

.portions__nb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color);
    color: white;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.portions__remove,
.portions__add {
    width: 20px;
    font-weight: 700;
    background-color: white;
    border: none;
}

.portions__remove,
.portions__add {
    font-size: 1.5rem;
}

.portions > p {
    text-align: center;
}


/*--Authentication & create account--*/

.authentication-container,
.create-account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authentication,
.btn.create-account,
.create-account {
    width: 400px;
    max-width: calc(100vw - 30px);
}

.forgot-pwd {
    margin-bottom: 30px;
}

.authentication::after {
    content: '';
    height: 1px;
    background-color: grey;
    align-self: center;
    width: 150px;
}

.btn.create-account {
    margin-top: 40px;
}

/*--Errors--*/

input.is-invalid,
.is-invalid {
    border: solid var(--invalid-color) 2px;
}

.error-msg {
    font-style: italic;
    color: var(--invalid-color);
}




/*------------------END OF MAIN------------------*/
/*----------------TABLET (>= 480px)--------------*/

@media (min-width: 480) {
    h2 {
        padding-top: 0;
    }
}

/*------------END OF TABLET (>= 480px)-----------*/
/*---------------NOTEBOOK (>= 768px)-------------*/

@media (min-width: 768px) {

    :root {
        font-size: 14px;
    }

    form > .search-button {
        width: auto;
        align-self: unset;
    }

}

/*----------END OF NOTEBOOK (>= 768px)----------*/
/*--------------DESKTOP (>= 1024px)-------------*/

@media (min-width: 1024px) {

    .navbar__shortcuts {
        position: unset;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar__shortcuts a {
        margin-left: 20px;
    }

    .navbar i {
        display: none;
    }

    .navbar span {
        display: unset;
    }

}
