/*--------------MAIN------------*/
.week-nav > h2 {
    margin: auto;
}

form {
    margin-bottom: 20px;
}

.en-stock + label {
    color: grey;
    font-style: italic;
    text-decoration: line-through;
}


/*-----------FIN DE MAIN--------*/
